body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

/* vay oto */
.containerpc {
	width: 80% !important;
	margin: 0 auto;
}
@media (min-width: 1200px) {
	.modal-lg {
		max-width: 1000px !important;
	}
}
@media (min-width: 1820px) {
	.modal-lg {
		max-width: 1480px !important;
	}
}

.modal-content {
	background-image: linear-gradient(#2595d2, #6a79d1);
	border-radius: 10px !important;
}
.dichvu {
	padding: 20px;
	width: 80%;
	margin: 0 auto;
}
.modal-header {
	border-bottom: none!important;
}
.modal-footer {
	border-top: none!important;
}

.modal-header button span {
	border: 1px solid;
	padding: 0px 10px 5px 10px;
	background: white;
	color: #328fd2;
	border-radius: 19px;
}
.dichvu h1 {
	color: white;
	text-align: center;
	font-size: 32px;
	padding-bottom: 40px;
}

.dichvu h1>img {
	padding-bottom: 10px;
}

.text-option {
	color: white;
	text-align: center;
	font-size: 28px;
	padding-bottom: 20px;
}

.input-hidden {
	position: absolute;
	left: -9999px;
}

.selectedOption {
	border: 1px solid #fff;
	box-shadow: 0 0 3px 3px #306499;
	background: #c8deea !important;
}

/* Stuff after this is only to make things more pretty */

.optionService {
	background: white;
	padding: 20px;
	border-radius: 20px;
	text-align: center;
}

.icon-bg {
	height: 46px;
	width: 51px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.icon-bg-thetindung {
	background: #2695d2;
}
.icon-bg-vaytincbap {
	background: #26d242;
}
.icon-bg-vaymuanha {
	background: #ecb91f;
}
.icon-bg-vaythechap {
	background: #fc9b10;
}
.icon-bg-vaymuaxe {
	background: #4155e9;
}
.icon-bg-guitietkiem {
	background: #038d07;
}
.icon-bg-baohiemnhantho {
	background: #0ba361;
}
.icon-bg-baohiemoto {
	background: #d83e3e;
}
.icon-bg-baohiemdulich {
	background: #c7480a;
}
.icon-bg-baohiemnha {
	background: #43c4bf;
}
.icon-bg-baohiembenhhiemngheo {
	background: #e41dd8;
}
.icon-bg-baohiemsuckhoe {
	background: #ec0606;
}

.optionService input[type=radio] + label>p {
	margin-bottom: -10px;
}
.optionService input[type=radio]:checked + optionService {
	background: #c8deea;
}

.clearfix-70 {
	margin-bottom: 70px;
	clear: both;
}

.form-group-select {
	width: 260px !important;
}

.select-right {
	float: right;
	margin-right: 20px;
}
.select-left {
	float: left;
	margin-left: 20px;
}

.confirm {
	width: 50%;
	margin: 0 auto;
	float: left;
}
.prev, .next {
	width: 33%;
	float: left;
}
.ketqua {
	width: 30%;
	float: left;
}
.phantram {
	font-size: 50px;
	text-align: center;
	border: 10px solid #8198db;
	color: white;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	padding-top: 25px;
	margin: 0 auto;
}
.confirm button>img{
	width: 30px;
	height: 30px;
}

.button-next-prev {
	background: white !important;
	padding: 20px !important;
	margin-top: 40px;
}

.input_error {
	border: 1px solid red !important;
}

.info-right {
	float: right;
	color: white;
}

.info-left {
	float: left;
	color: white;
}

.text-from-center {
	width: 100%;
	display: block;
	text-align: center;
	padding-bottom: 10px;
}

.slidecontainer {
	width: 50%; /* Width of the outside container */
	margin: 0 auto;
	position: relative;
}

/* The slider itself */
.slider {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 10px; /* Specified height */
	background: white; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
	border-radius: 4px;
}

/* Mouse-over effects */
.slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 11px; /* Set a specific slider handle width */
	height: 12px; /* Slider handle height */
	background: #BABABA; /* Green background */
	cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
	width: 11px; /* Set a specific slider handle width */
	height: 12px; /* Slider handle height */
	background: #BABABA; /* Green background */
	cursor: pointer; /* Cursor on hover */
}

.price-min-max {
	color: white;
	width: 100%;
}
.price-min {
	float: left;
}
.price-max {
	float: right;
}

.slider-selection {
	background: #BABABA;
}

.slider-track {
	height: 10px;
	top: 20%;
	left: 0;
	background: #9ba9c0 !important;
	border-right: none!important;
}

#step2,
#step3,
#step4,
#step5,
#step6,
#step7,
#step8,
#step9 {
	display: none;
}


ul.radio-check{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	padding-left: 35px;
}

ul.radio-check li{
	color: #AAAAAA;
	display: block;
	position: relative;
	float: left;
	list-style-type: none;
}

ul.radio-check li input[type=radio]{
	position: absolute;
	visibility: hidden;
}

ul.radio-check li label{
	display: block;
	position: relative;
	font-weight: 300;
	font-size: 1.35em;
	padding: 15px 25px 25px 60px;
	margin: 10px auto;
	height: 30px;
	z-index: 9;
	cursor: pointer;
	-webkit-transition: all 0.25s linear;
}

ul.radio-check li:hover label{
	color: #FFFFFF;
}

ul.radio-check li .check{
	display: block;
	position: absolute;
	border: 5px solid #ffffff;
	height: 25px;
	width: 25px;
	top: 30px;
	left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
	background: #ffffff;
}

ul.radio-check li:hover .check {
	border: 5px solid #FFFFFF;
}

ul.radio-check li .check::before {
	display: block;
	position: absolute;
	content: '';
	border-radius: 100%;
	height: 15px;
	width: 15px;
	top: 0;
	left: 0;
	margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

ul.radio-check input[type=radio]:checked ~ .check {
	border: 5px solid #ffffff;
	background: #ffffff;
}

ul.radio-check input[type=radio]:checked ~ .check::before{
	background: #3e8ad1;
}

ul.radio-check input[type=radio]:checked ~ label{
	color: #ffffff;
}

.div-hidden {
	display: none !important;
}

